{{define "title"}}Fazer Login{{end}}

{{define "main"}}
<form class="" user-form action="/user/forgetpassword" method="post">
  <h1>Esqueci minha senha</h1>
  <!-- {{with .FieldErrors}}
  <ul class="errors">
    {{range .}}
    <li>{{.}}</li>
    {{end}}
  </ul>
  {{end}}
  {{csrfField}} -->
  <label for="email">E-mail</label>
  {{with .FieldErrors.email}}
  <label class="error">{{.}}</label>
  {{end}}
  <input type="email" name="email" id="email" value="{{.Email}}">

  <button class="success" type="submit">Solicitar nova Senha</button>
</form>
{{end}}